/*Общие стили*/
body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

button:active,
button:focus {
  outline: none;
}

/*Header*/
.header {
  position: relative;
  height: 75px;
  background-color: #222224;
  /*Header - Navigation*/
}

.header .header__logo {
  width: 44px;
  height: 38px;
  margin-right: 16px;
}

.header .header__button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  margin-left: 25px;
}

.header .icon {
  fill: #E8E8E8;
}

.header .icon:hover {
  fill: #F16D7F;
}

.header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header .header__logo-wrp,
.header .header__list {
  display: flex;
  align-items: center;
}

.header .header__cart {
  position: relative;
}

.header .header__cart-circle {
  position: absolute;
  top: -10px;
  left: 50px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #F16D7F;
  color: #FFFFFF;
  text-align: center;
  padding-top: 2px;
}


@media (max-width: 1250px) {
  .header__container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 500px) {
  .header__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 375px) {
  .header__login,
  .header__cart {
    display: none;
  }
}

/*Featured*/
.featured {
  text-align: center;
  padding-top: 30px;
}

.featured .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured .feature {
  position: relative;
  width: 360px;
  height: 581px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  z-index: 1;
}

.featured .feature:hover .feature__img {
  filter: brightness(55%);
}

.featured .feature:hover .feature__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured .feature__button {
  position: absolute;
  display: none;
  width: 138px;
  height: 43px;
  top: 188px;
  left: 111px;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 0;
}

.featured .feature__button:hover {
  background-color: #F16D7F;
}

.featured .feature__button-text {
  font-weight: 400;
  margin-left: 11px;
}

.featured .feature__link {
  text-decoration: none;
}

.featured .feature__link:hover {
  text-decoration: underline;
}

.featured .feature__link:active {
  text-decoration: underline;
  color: #F16D7F;
}

.featured .feature__name {
  text-transform: uppercase;
  text-align: left;
  margin: 25px 0 13px 18px;
  color: #222224;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.featured .feature__name:active {
  color: #F16D7F;
}

.featured .feature__desc {
  text-align: left;
  margin: 0 18px 18px 18px;
  color: #5D5D5D;
}

.featured .feature__desc:active {
  color: #F16D7F;
}

.featured .feature__price {
  text-align: left;
  margin-left: 18px;
  color: #F16D7F;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 1200px) {
  .featured {
    margin-left: 16px;
    margin-right: 16px;
  }
  .featured .feature {
    width: 31.6%;
    height: auto;
    margin-bottom: 16px;
  }
  .featured .feature__img {
    width: 100%;
    height: auto;
  }
  .featured .feature__price {
    margin-bottom: 20px;
  }
}

@media (max-width: 1100px) {
  .featured .feature__button {
    top: 175px;
    left: 98px;
  }
}

@media (max-width: 1000px) {
  .featured .feature__button {
    top: 150px;
    left: 80px;
  }
}

@media (max-width: 900px) {
  .featured .feature__button {
    top: 130px;
    left: 60px;
  }
}

@media (max-width: 820px) {
  .featured .feature__button {
    top: 110px;
    left: 50px;
  }
}

@media (max-width: 768px) {
  .featured .feature {
    width: 48.9%;
  }
  .featured .feature__button {
    top: 188px;
    left: 111px;
  }
}

@media (max-width: 700px) {
  .featured {
    margin-left: 8px;
    margin-right: 8px;
  }
  .featured .features {
    justify-content: center;
  }
  .featured .feature {
    width: 360px;
  }
  .featured .feature__button {
    top: 188px;
    left: 111px;
  }
}

@media (max-width: 360px) {
  .featured .feature__button {
    top: 160px;
    left: 93px;
  }
}

@media (max-width: 330px) {
  .featured .feature__button {
    top: 140px;
    left: 73px;
  }
}

@media (max-width: 280px) {
  .featured .feature__button {
    top: 100px;
    left: 43px;
  }
}